web/couch/*

web/couch/snippets/.htaccess
!web/couch/snippets

!web/couch/addons
web/couch/addons/*
!web/couch/addons/kfunctions.php
!web/couch/addons/url-detect
!web/couch/addons/jsonify
!web/couch/addons/bootstrap-grid
!web/couch/addons/uid

!web/couch/includes
web/couch/includes/*
!web/couch/includes/plupload
web/couch/includes/plupload/*
!web/couch/includes/plupload/upload.php

!web/couch/theme
web/couch/theme/*
!web/couch/theme/makerspace

