couch/*

couch/snippets/.htaccess
!couch/snippets

!couch/addons
couch/addons/*
!couch/addons/kfunctions.php
!couch/addons/url-detect
!couch/addons/jsonify

!couch/includes
couch/includes/*
!couch/includes/plupload
couch/includes/plupload/*
!couch/includes/plupload/upload.php

!couch/theme
couch/theme/*
!couch/theme/makerspace